certifi==2019.3.9
chardet==3.0.4
happybase==1.2.0
idna==2.8
kafka==1.3.5
ply==3.11
py4j==0.10.7
pyspark==2.4.3
pyspark-stubs==2.4.0.post1
pytz==2019.1
redis==3.2.1
requests==2.21.0
schedule==0.6.0
six==1.12.0
sqlparse==0.3.0
thriftpy2==0.4.3
urllib3==1.24.3
